body{
	font-size:20px;
	display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    background: red;
    color:#fff;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

#myModal{
	width:100%;
	height:100%;
	z-index:1;
    background-color: red;
    color:black;
    padding-right:32px;
    overflow:hidden;
    bottom:0px;
    font-size:20px;
    text-align:center;
}

.navbar a{
	font-size:20px;
	background:#fff;
	padding:10px;
	border-radius:5px;
	text-decoration:none;
	color:inherit;
}

.navbar a:hover{
		background:#0080FF;
		cursor:pointer;
}

.writing{
padding:10px;
font-size:40px;
color:black;
background:#fff;
width:50%;
min-height:250px;
    display:inline-flex;
     box-shadow: 0px 16px 30px 0px rgba(0,0,0,0.2);
         top: 100px;
    position: relative;


}

.hideModal{
	width:0%;
	height:0%;
	z-index:none;
    background-color: red;
    display:none;
   
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius:20px;
    text-align:center;
    cursor:pointer;
}

.dropbtn{
	background:#C0C0C0;
	color:black;
	font-size:20px;
	padding:10px;
	padding-right:10px;
	padding-left:10px;
	border-radius:15px;
	border-color: #333333;
}

.dropbtn:hover{
	background:#0080FF;
	cursor:pointer;
}
.dropbtn:focus{
	outline:0;
}
.dropdown{
	position:relative;
	display:inline-block;
}

.dropdown-content{
	display:none;
	background-color: #fefefe;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
background:#0080FF;
}
.show{
	display:block;
}
.hide{
	display:none;
}


.close{
	float:right;
	background:#C0C0C0;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
	border-radius:5px;
	font-size: 28px;
    font-weight: bold;
    display:none;
}

.close:hover{
	background:#0080FF;
	cursor:pointer;
}
.header{
	width: 100%;
    background: #C0C0C0 !important;
    overflow: hidden;
    color: black;
    padding-left: 20px;
    font-size: 40px;
}


h1,h2,h3,h4,h5,h6,.h7,.h8{
	font-size:32px;
	font-weight:normal;
	margin:0;
}

.container{
	padding-top:30px;
	padding:20px;

}

.containerDisplay{
	display:none;
}

.Team1,.Team5,.Team9,.Team13,.Team17,.Team21,.Team25{
	color:#A9A9A9 !important;
	font-weight:1000;
}

.header img{
height:80px;
width:80px;
position:relative;
float:right;
padding-right:40px;
top:-90px;
}

.popup{
	float:right;
	display:inline-block;
}

.facts{
	text-decoration: none;
	background:#C0C0C0;
	color:white;
	border-radius:10px;
	padding:10px;
	text-align:center;
	position:relative;
	left:200px;
	bottom:80px;
}

.facts:hover{
	background:black;
}


.stats{
position:relative;
left:30px;
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) {

.header a{
	font-size:35px;
}

.header img{
float: none;
margin: auto;
display: block;
margin-left: auto;
margin-right: auto;
top:15px;
}

.navbar a{
	font-size:25px;
}

.header {
    height: 200px;
    width: 105%;
}

.writing{
	font-size:26px;
}

}